.crossfire-container {
  display: none;
}
.crossfire-container.show {
  display: flex;
  flex-direction: column;
  width: 1175px;
  height: 630px;
  margin: 50px auto;
}

.console-plugs-div {
  display: flex;
}

.console-container {
  display: flex;
  width: 1000px;
  height: 475px;
  margin: auto;
  margin-bottom: 24px;
  border: 2px solid #01225d;
  background: #c6c7c9;
  border-radius: 10px;
}

.menu-error-div {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 471px;
  background: #c6c7c9;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu-div {
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin: auto;
  margin-top: 200px;
  background-color: #fff;
  border: 4px solid #01225d;
  border-radius: 50%;
}

.menu-text {
  font-family: roboto;
  font-size: 18px;
  font-weight: 700;
  color: #01225d;
  padding-top: 23px;
  padding-left: 8px;
}

.error-div {
  margin-bottom: 171px;
  margin-left: 30px;
}

.exclamation {
  position: relative;
}

.exclamation-mark {
  cursor: pointer;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #e51937;
}

.exclamation-mark::after {
  content: "!";
  position: absolute;
  font-size: 40px;
  font-family: roboto;
  color: #c6c7c9;
  top: 14px;
  left: -6px;
  font-weight: bold;
}

.display-screen-div {
  width: 750px;
  height: 250px;
  margin-top: 110px;
  border-radius: 10px;
  border: 3px solid #818083;
  background: lightseagreen;
}

.first-border-display-screen {
  width: 741px;
  height: 245px;
  padding-top: 20px;
  padding-left: 21px;
  border-radius: 8px;
  background: #01225d;
}

.inside-display-screen {
  display: flex;
  width: 700px;
  height: 204px;
  border-radius: 8px;
  background: #18478e;
  border: 4px solid #fff;
}

.serfas-container {
  width: 233px;
  height: 195px;
  border-radius: 8px;
}

.shaver-container {
  width: 467px;
  height: 195px;
  border-radius: 8px;
}

.serfas-readout-div {
  width: 211px;
  height: 185px;
  margin-top: 6px;
  margin-left: 15px;
  padding-top: 8px;
  border-radius: 8px;
  background: #fff;
}

.serfas-readout-title {
  font-size: 32px;
  font-family: roboto;
  color: #18478e;
  margin-left: 20px;
  padding-top: 12px;
  letter-spacing: 11px;
}

.shaver-readout-title {
  font-size: 32px;
  font-family: roboto;
  color: #18478e;
  padding-top: 12px;
  margin-left: 11px;
  letter-spacing: 11px;
}

.shaver-readout-div {
  width: 441px;
  height: 185px;
  margin-top: 6px;
  margin-left: 4px;
  padding-top: 1px;
  padding-left: 5px;
  border-radius: 8px;
  background: #fff;
}

.serfas-text-div {
  width: 190px;
  height: 124px;
  margin: auto;
  border-radius: 8px;
  background: #18478e;
}

.shaver-text-div {
  width: 420px;
  height: 124px;
  margin-top: 6px;
  margin-left: 4px;
  border-radius: 8px;
  background: #18478e;
}

.adjust-selector-div {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 471px;
  background: #c6c7c9;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.adjust-top-arrow-div {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  margin-top: 90px;
  background: #01225d;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-right: 3px solid #818083;
  border-left: 3px solid #818083;
  border-top: 3px solid #818083;
}

.adjust-top-circle {
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: 6px;
  margin-left: 5px;
  padding-top: 18px;
  background-color: #fff;
  border-radius: 50%;
}

.adjust-bottom-circle {
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.selector-div {
  width: 90px;
  height: 120px;
  margin: 0 auto;
  background: #01225d;
  border-left: 3px solid #818083;
  border-right: 3px solid #818083;
}

.selector-circle {
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  margin-top: 18px;
  padding-top: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.selector-img {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: transparent url("/assets/img/reload.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  margin-left: 12px;
  background-size: 50px;
}

.adjust-bottom-arrow-div {
  width: 90px;
  height: 75px;
  margin: 0 auto;
  padding-bottom: 80px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #01225d;
  border-right: 3px solid #818083;
  border-left: 3px solid #818083;
  border-bottom: 3px solid #818083;
}

.adjust-bottom-arrow-img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: transparent url("/assets/img/xfr-downarrow2.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  margin: auto;
  background-size: 50px;
}

.adjust-top-arrow-img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: transparent url("/assets/img/xfr-uparrow2.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  margin: auto;
  background-size: 50px;
}

.plugs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 8px;
  margin-top: 10px;
  width: 150px;
  height: 475px;
}

.fs-handpieces-div {
  display: flex;
  justify-content: space-around;
}

.ftswitch-div {
  width: 250px;
  height: 150px;
}

.shaver-div {
  width: 250px;
  height: 175px;
}

.rf-div {
  width: 250px;
  height: 175px;
}

.ftswitch-img {
  cursor: pointer;
  width: 200px;
  height: 150px;
  margin: auto;
  background: transparent url("/assets/img/footpedal.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 175px;
}

.shaver-img {
  cursor: pointer;
  width: 200px;
  height: 70px;
  margin: 40px auto;
  background: transparent url("/assets/img/handpiece.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 200px;
}

.rf-img {
  cursor: pointer;
  width: 200px;
  height: 70px;
  margin: 40px auto;
  background: transparent url("/assets/img/rfwand.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 200px;
}

.rf-plug-div {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 110px;
}

.shaver-plug-div {
  width: 120px;
  height: 100px;
  margin-left: 50px;
}

.ftswitch-plug-div {
  width: 120px;
  height: 150px;
}

.plug-div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #01225d;
}

.plug-inner-div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 8px auto;
  border: 6px solid #01225d;
}

.plug-inner-most-div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 14px auto;
  background: #01225d;
}

.rf-plug-img {
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin-left: 8px;
  background: transparent url("/assets/img/rfwand2.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 70px;
}

.shaver-plug-img {
  cursor: pointer;
  width: 70px;
  height: 20px;
  margin-left: 8px;
  background: transparent url("/assets/img/shaver2.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 70px;
}

.ftswitch-plug-img {
  cursor: pointer;
  width: 70px;
  height: 30px;
  margin-left: 18px;
  background: transparent url("/assets/img/footpedal2.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 40px;
}

/* .crossfire-title-div {
  margin: auto;
  margin-bottom: 8px;
}

.crossfire-title-div h3 {
  font-family: roboto;
  font-size: 34px;
  font-weight: 600;
  color: #424242;
}

.crossfire-ui-div {
  display: flex;
  width: 100%;
  height: 400px;
}

.crossfire-plugin-div {
  display: flex;
  width: 100%;
}

.footpedal-div {
  width: 200px;
  height: 170px;
  margin-left: 40px;
  padding-top: 50px;
}

.footpedal-image {
  cursor: pointer;
  width: 200px;
  height: 170px;
  background: transparent url("/sixteen/img/footpedal.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 200px;
}

.handpiece-div {
  width: 200px;
  height: 120px;
  padding-top: 70px;
  margin-left: 50px;
}

.handpiece-image {
  cursor: pointer;
  width: 300px;
  height: 170px;
  background: transparent url("/sixteen/img/handpiece.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 300px;
}

.rfwand-div {
  width: 200px;
  height: 120px;
  padding-top: 75px;
  margin-left: 160px;
}

.rfwand-image {
  cursor: pointer;
  width: 300px;
  height: 100px;
  background: transparent url("/sixteen/img/rfwand.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 300px;
}

.menu-error-div {
  width: 100px;
  height: 400px;
  background: #c6c7c9;
  border-bottom: 2px solid #414141;
  border-top: 2px solid #414141;
  border-left: 2px solid #414141;
}

.crossfire-display-screen-div {
  display: flex;
  width: 770px;
  height: 400px;
  background: #414141;
}

.select-adjust-div {
  width: 130px;
  height: 400px;
  background: #c6c7c9;
  border-bottom: 2px solid #414141;
  border-top: 2px solid #414141;
  border-right: 2px solid #414141;
}

.menu-div {
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin: auto;
  margin-top: 150px;
  background-color: #fff;
  border: 4px solid #0f5298;
  border-radius: 50%;
}

.menu-text {
  font-family: roboto;
  font-size: 18px;
  font-weight: 400;
  color: #0f5298;
  padding-top: 20px;
  padding-left: 8px;
}

.exclamation {
  position: relative;
  top: -10px;
}

.exclamation-mark {
  cursor: pointer;
  position: absolute;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 60px solid #e51937;
  margin: 90px 0 0 18px;
}

.exclamation-mark::after {
  content: "!";
  position: absolute;
  font-size: 40px;
  font-family: roboto;
  color: #c6c7c9;
  top: 14px;
  left: -6px;
  font-weight: bold;
}

.adjust-top-arrow-div {
  height: 90px;
  width: 90px;
  background: #0f5298;
  margin: auto;
  margin-top: 10px;
  padding-top: 8px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-left: 3px solid lightslategray;
  border-right: 3px solid lightslategray;
}

.adjust-bottom-arrow-div {
  height: 90px;
  width: 90px;
  background: #0f5298;
  margin: auto;
  padding-top: 8px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-left: 3px solid lightslategray;
  border-right: 3px solid lightslategray;
}

.crossfire-select-div {
  height: 200px;
  width: 90px;
  background: #0f5298;
  margin: auto;
  padding-top: 60px;
  border-left: 3px solid lightslategray;
  border-right: 3px solid lightslategray;
}

.adjust-top-circle {
  width: 70px;
  height: 70px;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 17px;
  padding-left: 10px;
}

.adjust-bottom-circle {
  width: 70px;
  height: 70px;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 23px;
  padding-left: 10px;
}

.adjust-top-img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: transparent url("/sixteen/img/xfr-uparrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 50px;
}

.adjust-bottom-img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: transparent url("/sixteen/img/xfr-downarrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 50px;
}

.select-circle {
  width: 70px;
  height: 70px;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  padding-top: 8px;
  padding-left: 10px;
}

.select-img {
  cursor: pointer;
  width: 70px;
  height: 70px;
  background: transparent url("/sixteen/img/select.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 50px;
}

.rf-div {
  width: 240px;
  height: 390px;
  margin: auto;
  background: #c6c7c9;
  border-radius: 10px;
}

.rf-data-div {
  width: 240px;
  height: 320px;
  margin: auto;
  background: #0f5298;
  border: 3px solid #c6c7c9;
  border-radius: 10px;
}

.rf-title-div h3 {
  font-size: 34px;
  font-family: roboto;
  color: #0f5298;
  text-align: center;
  padding-top: 12px;
}

.shaver-div {
  width: 510px;
  height: 390px;
  margin: auto;
  background: #c6c7c9;
  border-radius: 10px;
}

.shaver-data-div {
  display: flex;
  width: 510px;
  height: 320px;
  margin: auto;
  background: #0f5298;
  border: 3px solid #f6f0e8;
  border-radius: 10px;
}

.shaver-title-div h3 {
  font-size: 34px;
  font-family: roboto;
  color: #0f5298;
  text-align: center;
  padding-top: 12px;
}

.shaver-direction-div {
  width: 90px;
  height: 313px;
  margin: auto;
  border-radius: 10px;
}

.rpm-hc-div {
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 313px;
  margin: auto;
  border-radius: 10px;
}

.direction-img {
  width: 70px;
  height: 70px;
  background: transparent url("/sixteen/img/osc-arrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 70px;
  margin: auto;
  margin-top: 230px;
}

.rpm-text {
  font-size: 130px;
  font-family: roboto;
  color: #c6c7c9;
  text-align: right;
  padding-top: 120px;
}

hc-text {
  font-size: 21px;
  font-family: roboto;
  color: #c6c7c9;
  padding-left: 370px;
} */
