.l11-container {
  display: none;
}
.l11-container.show {
  display: flex;
  width: 1180px;
  height: 409px;
  background: #000;
  border-radius: 30px;
  margin: auto;
}

.iris-power-button-container {
  display: flex;
  flex-direction: column;
}

.iris-div {
  background: #000;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 50px;
  border: 5px solid #fff;
}

.iris-inner-div {
  height: 170px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.iris-plug-div {
  width: 15px;
  height: 15px;
  background: transparent url("/assets/img/iris-off.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 10px;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  transition: ease-in-out 0.1s;
}

.laser-icon-div {
  width: 30px;
  height: 30px;
  background: transparent url("/assets/img/laser.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 30px;
  opacity: 0.5;
}

.iris-plug-div.on {
  width: 25px;
  height: 25px;
  background: transparent url("/assets/img/iris-on.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 25px;
  cursor: pointer;
  border-radius: 50%;
  transition: ease-in-out 0.1s;
}

.power-button-div {
  width: 40px;
  height: 40px;
  margin-top: 130px;
  margin-left: 30px;
  background: transparent url("/assets/img/power-button.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 40px;
  cursor: pointer;
}

.power-button-div.on {
  width: 50px;
  height: 50px;
  margin-top: 130px;
  margin-left: 30px;

  background: transparent url("/assets/img/power-button-on.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 40px;
}

.l11-gui {
  width: 520px;
  height: 312px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 70px;
  background: #212121;
}

.ui-container {
  display: flex;
  width: 100%;
  height: 100%;
  background: #212121;
}

.control-column-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.l11-nav-button {
  width: 110px;
  height: 104px;
  background: #424242;
  cursor: pointer;
}

.l11-nav-button.active {
  width: 110px;
  height: 104px;
  background: #424242;
  padding-left: 5px;
  border-right: 5px solid #0da9ff;
}

#l11-home-btn {
  margin-bottom: 4px;
}

#l11-setting-btn {
  margin-top: 4px;
}

.power-display-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: #212121;
}

.power-autolight-div {
  display: flex;
}

.powerBtn-div {
  width: 200px;
  height: 90px;
  margin-left: 100px;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #424242;
}

.powerBtn-img {
  width: 40px;
  height: 40px;
  margin: 25px auto;
  background: transparent url("/assets/img/power-button.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 40px;
}

.autlight-div {
  display: flex;
  flex-direction: column;
}

.autolight-img {
  width: 35px;
  height: 35px;
  margin-left: 60px;
  margin-top: 14px;
  background: transparent url("/assets/img/lightbulb-icon.png") 0% 0% no-repeat
    padding-box;
  opacity: 0.4;
  background-size: 30px;
}

.autolight-title {
  max-width: 50px;
  margin-left: auto;
}

.autolight-title p {
  margin: 0;
  padding: 0;
}

.autolight-text {
  font-family: roboto;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  opacity: 0.4;
}

.intensity-div {
  height: auto;
  width: 100%;
  background: lightpink;
}

.spy-mode-div {
  height: auto;
  width: 100%;
  background: lightskyblue;
}

.home-l11-icon {
  width: 65px;
  height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 21px;
  background: transparent url("/assets/img/icon-home3.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 65px;
}

.iris-icon {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-top: 32px;
  color: #fff;
}

.gear-l11-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  background: transparent url("/assets/img/gear-icon.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 50px;
}
