/* Universal Box Sizing */
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.display-screen {
  display: flex;
  width: 1000px;
  height: 588px;
  background: #212121;
}

.sixteen-title-div {
  margin: auto;
  margin-bottom: 8px;
}

.sixteen-title-div h3 {
  font-family: roboto;
  font-size: 34px;
  font-weight: 600;
  color: #424242;
}

#navigation-container {
  display: flex;
  flex-direction: column;
  width: 188px;
  height: 588px;
}

.nav-buttons {
  width: 180px;
  height: 196px;
  background: #424242;
}

.nav-buttons-clicked {
  width: 180px;
  height: 196px;
  background: #424242;
  border-right: 6px solid #0da9ff;
}

.nav-buttons-clicked .aim-icon {
  margin-left: 30px;
}

#home-nav-button {
  margin-bottom: 8px;
}

#settings-nav-button {
  margin-top: 8px;
}

.controls-specialty-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 75px auto;
}

.specialty-container {
  display: flex;
  width: 700px;
}

#right-arrow {
  cursor: pointer;
  width: 100px;
  height: 80px;
  background: #424242;
  margin: auto;
}

.right-arrow-img {
  width: 200px;
  height: 100px;
  margin: 5px auto;
  margin-left: 40px;

  background: transparent url("/assets/img/right-arrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 35px;
}

#left-arrow {
  cursor: pointer;
  width: 100px;
  height: 80px;
  background: #424242;
  margin: auto;
}

.left-arrow-img {
  width: 200px;
  height: 100px;
  margin: 5px auto;
  margin-left: 30px;

  background: transparent url("/assets/img/left-arrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 35px;
}

.specialty-div {
  background: #000;
  width: 100%;
}

.specialty-div h3 {
  font-family: roboto;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.controls-container {
  display: flex;
  justify-content: space-around;
  width: 700px;
  margin-top: 70px;
}

.lightbulb-icon-div {
  cursor: pointer;
  display: flex;
  width: 700px;
  margin-top: 70px;
  margin-left: 22px;
}

.home-icon {
  cursor: pointer;
  width: 120px;
  height: 120px;
  margin-top: 50px;
  margin-left: 50px;

  background: transparent url("/assets/img/icon-home3.svg") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 90px;
}

.aim-icon {
  cursor: pointer;
  width: 120px;
  height: 120px;
  margin: 60px auto;
}

.aim-icon .aim-text {
  font-family: Roboto;
  font-size: 60px;
  font-weight: 900;
  font-style: italic;
  color: #fff;
}

.gear-icon {
  cursor: pointer;
  width: 120px;
  height: 120px;
  margin-top: 50px;
  margin-left: 50px;

  background: transparent url("/assets/img/gear-icon.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 90px;
}

.wb-btn-div {
  cursor: pointer;
  width: 160px;
  height: 120px;
  background: #424242;
}

.wb-btn-div h3 {
  font-family: roboto;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  padding-top: 25px;
  color: #fff;
}

.camera-btn-div {
  cursor: pointer;
  width: 160px;
  height: 120px;
  background: #424242;
}

.camera-btn-img {
  width: 120px;
  height: 120px;
  margin-top: 25px;
  margin-left: 40px;

  background: transparent url("/assets/img/camera-icon.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 80px;
}

.video-btn-div {
  cursor: pointer;
  width: 160px;
  height: 120px;
  background: #424242;
}

.video-btn-img {
  width: 120px;
  height: 120px;
  margin-top: 30px;
  margin-left: 35px;

  background: transparent url("/assets/img/video-icon.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 95px;
}

.lightbulb-icon-cicle {
  width: 75px;
  height: 75px;
  background: #37474f;
  border-radius: 50%;
  border: 2px solid #0da9ff;
  opacity: 0.6;
  margin-left: 90%;
}

.lightbulb-icon-img {
  width: 75px;
  height: 75px;
  margin-top: 15px;
  margin-left: 15px;

  background: transparent url("/assets/img/lightbulb-icon.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 40px;
}

/* Carousel */
.specialty-slides {
  display: none;
  min-width: 500px;
  background-color: #000;
  border: 4px solid #424242;
}

.specialty-div {
  min-width: 500px;
  background-color: #000;
  border: 4px solid #424242;
}

.specialty-slides p {
  font-family: roboto;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}

.dot-container {
  text-align: center;
  padding: 20px;
}

#default-dot {
  background-color: #0da9ff;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #37474f;
  border: 1px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.1s ease;
}

.active,
.dot:hover {
  background-color: #0da9ff;
}

/* AIM Container */
.aim-container {
  display: none;
}

.aim-container.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #212121;
}

.aim-title-container {
  width: 99%;
  height: 75px;
  margin: 0 auto;
  background: #424242;
  margin-left: 8px;
}

.aim-title-container h3 {
  font-family: roboto;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12px;
  color: #fff;
}

.aim-modalities-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 40px auto;
}

#aim-left-arrow {
  cursor: pointer;
  width: 100px;
  height: 80px;
  background: #424242;
  margin: auto;
}

.aim-left-arrow-img {
  width: 200px;
  height: 100px;
  margin: 5px auto;
  margin-left: 30px;

  background: transparent url("/assets/img/left-arrow.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 35px;
}

.aim-modality-div {
  display: flex;
  width: 700px;
  margin: auto;
}

.aim-specialty-div {
  min-width: 500px;
  background-color: #000;
  border: 4px solid #424242;
}

.aim-specialty-div h3 {
  font-family: roboto;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
.aim-adjustments-container {
  display: flex;
  width: 90%;
  height: auto;
}

.gain-div {
  display: flex;
  margin-left: 60px;
  width: 200px;
  height: 70px;
}

.brightness-div {
  display: flex;
  margin-left: 190px;
  width: 200px;
  height: 70px;
}

.brightness-plus-div {
  min-width: 100px;
  height: 70px;
  background: #424242;
}

.brightness-minus-div {
  min-width: 100px;
  height: 70px;
  background: #424242;
}

.gain-plus-div {
  min-width: 100px;
  height: 70px;
  background: #424242;
}

.gain-minus-div {
  min-width: 100px;
  height: 70px;
  background: #424242;
}

.plus-img {
  width: 30px;
  height: 30px;
  margin: 20px auto;

  background: transparent url("/assets/img/plus-sign.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 30px;
}

.minus-img {
  width: 30px;
  height: 30px;
  margin: 30px auto;

  background: transparent url("/assets/img/minus-sign.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 30px;
}

.gain-value-div {
  min-width: 150px;
  background-color: #000;
  border: 2px solid #424242;
}

.gain-value-div h3 {
  font-family: roboto;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 14px;
  color: #fff;
}

.gain-brightness-title-div {
  display: flex;
  margin-bottom: 6px;
}

.gain-title-div {
  margin-left: 60px;
}

.brightness-title-div {
  margin-left: 340px;
}

.gain-brightness-title-div h3 {
  font-family: roboto;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  padding-top: 4px;
  color: #fff;
}

.aim-footer-container {
  display: flex;
  width: 95%;
  height: 160px;
}

.spy-toggle-div {
  display: flex;
  margin-left: 60px;
  cursor: pointer;
}

.spy-toggle-btn-on {
  min-width: 100px;
  height: 70px;
  background: #424242;
}

.spy-toggle-btn-off {
  min-width: 100px;
  height: 70px;
  background: #000;
  border: 2px solid #424242;
}

.spy-toggle-text {
  font-family: roboto;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 15px;
  color: #fff;
}

.autolight-circle-div {
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin-left: 456px;
  background: #37474f;
  border-radius: 50%;
  border: 2px solid #0da9ff;
  opacity: 0.6;
}

.spy-autolight-img {
  width: 75px;
  height: 75px;
  margin-top: 15px;
  margin-left: 15px;

  background: transparent url("/assets/img/lightbulb-icon.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 40px;
}

.spy-toggle-title {
  margin-top: 50px;
  margin-bottom: 6px;
  margin-left: 60px;
}

.spy-toggle-title-text {
  font-family: roboto;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}

/* Modal */
.modal {
  position: fixed;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  z-index: 10;
  width: 800px;
  max-width: 90%;
  max-height: 400px;
  overflow-y: scroll;
}

.modal-title h3 {
  font-family: roboto;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal.crossfire-active {
  transform: translate(-50%, -50%) scale(1);
  background-color: #18478e;
  border: 3px solid #fff;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
}

.modal-body-description-text {
  display: flex;
  flex-wrap: wrap;
}

.modal-pn-text {
  margin-left: 12px;
}

.modal .modal-body {
  font-family: roboto;
  font-size: 18px;
  font-weight: 200;
  padding: 10px 15px;
  color: #fff;
}

.modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: roboto;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  padding: 10px 15px;
  border-bottom: 1px solid #d2d2d2;
}

.modal .modal-header .close-modal {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

#modal-overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(55, 71, 79, 0.9);

  pointer-events: none;
}

#modal-overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

#modal-overlay.crossfire-active {
  opacity: 1;
  pointer-events: all;
  z-index: 2;
}

.settings-container {
  display: none;
}

.settings-container.show {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
}

.brightness-body,
.zoom-body,
.enhancement-body {
  display: flex;
  margin-top: 8px;
}

.settings-autolight-circle-div {
  display: none;
}

.settings-autolight-circle-div.show {
  display: flex;
  cursor: pointer;
  width: 75px;
  height: 75px;
  margin-top: 474px;
  margin-left: 318px;
  background: #37474f;
  border-radius: 50%;
  border: 2px solid #0da9ff;
  opacity: 0.6;
}

.settings-autolight-img {
  width: 75px;
  height: 75px;
  margin-top: 15px;
  margin-left: 15px;

  background: transparent url("/assets/img/lightbulb-icon.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-size: 40px;
}

.zoom-text,
.enhancement-text,
.brightess-text {
  font-family: roboto;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
}
.settings-minus-div {
  min-width: 100px;
  height: 70px;
  background: #424242;
}

.settings-plus-div {
  min-width: 100px;
  height: 70px;
  background: #424242;
}

.settings-numerical-div {
  min-width: 150px;
  background-color: #000;
  border: 2px solid #424242;
}

.settings-numerical-text {
  font-family: roboto;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  padding-top: 14px;
  color: #fff;
}
